html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #DEBD97;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5deb3;
    height: 100px;
    width: 100%;
}

#headerText {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#bookInput {
    background-color: #DEBD97;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-bottom: 10px;
}

#booksContainer {
    display: flex;
    flex-direction: row;
    background-color: #DEBD97;
    width: 97%;
    height: 100%;
    justify-content: center;
    flex-shrink: 0;
    overflow-y: auto;
}

#bookList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#addBook {
    display:flex;
    justify-content: center;
    background-color: #DEBD97;
}

#addBookButton {
    margin-top: 25px;
    height: 2em;
    background-color:#f5deb3;
    border-radius: 5px;
    border-color: transparent;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#addBookButton:hover {
    background-color:rgb(194, 194, 194);
    transform: scale(1.05);
}

#formDiv {
    position: absolute;
    height: auto;
    width: 300px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #f5deb3;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#bookReadText {
    margin-bottom: 0px;
}

#bookReadNoText {
    margin-left: 5px;
}

#formInputCheckboxDiv {
    display: flex;
    margin-top: 0px;
}

.form {
    height: 30px;
    border-style: solid;
    box-sizing: border-box;
    border-color: transparent;
}

#submitButton {
    text-align: center;
    font-size: larger;
    background-color: rgb(194, 194, 194);
    border-color: transparent;
    margin-bottom: 15px;
}

#submitButton:hover {
    background-color:rgb(194, 194, 194);
    transform: scale(1.05);
}

.libraryBook {
    width: 190px;
    height: 240px;
    background-color: #f5deb3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow:3px 3px 20px rgba(0, 0, 0, 0.452);
    word-wrap: break-word;
    box-sizing: border-box;
    position: relative;
}

.removeBookButton {
    position: absolute;
    top: -17px;
    right: 9px;
    font-family: fantasy;
    color: gray;
    font-size: 1.2rem;
}

.removeBookButton:hover {
    color:indianred;
    cursor: pointer;
}

.title {
    width: 180px;
}

.libraryBook:hover {
    transform: scale(1.05);
    
}

#inLibrary {
    color:maroon;
    margin: 5px;
}

.title {
    font-style: italic;
}

.bookInformation {
    text-align: center;
}

.readStatus {
    background-color: transparent;
    border-style: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    color:gray;
    display: block;
    bottom: 2px;
}
.readStatus:hover {
    color:royalblue;
    cursor: pointer;
}

.pageCount {
    font-size: 0.75rem;
}

#doubleCheckDelete {
    position: absolute;
    height: auto;
    width: 250px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #DECC97;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#doubleCheckDeleteButtonHolder {
    margin-bottom: 1rem;
}

.doubleCheckDeleteButton {
    background-color: transparent;
    border-style: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    color:gray;
}

.doubleCheckDeleteButton:hover {
    color:indianred;
    cursor: pointer;
}

.backgroundFadeOut {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.397);
    z-index: 98;
}